;; Copyright © 2016, JUXT LTD.

;; Aero configuration for Ymir

{:web-server
 ;; format for host: [{:scheme :http :host "localhost:3000"}]
 #profile {:dev {:host :*
                 :port 3000}
           :prod {:host :*
                  :port 3000}}

 :selmer
 {:template-caching?
  #profile {:dev false
            :test false
            :pre-prod true
            :prod true}}

 :deployment {:aws-profile #env AWS_PROFILE
              :releases-bucket "demo-example.ymir.alpha-releases"
              :environment "dev"
              :vpc-id :roll.core/default

              :load-balancers {:ymir [{:listen 80
                                          :forward ^:ref [:web-server :port]
                                          :protocol "HTTP"}]}

              ;; Recommended - setup a route-53 host-name prefix using
              ;; a manually pre-configured zone-id:
              ;; :route-53-aliases [{:name-prefix ^:ref [:web-server :host] :zone-id
              ;;                     "Z1JI8NSPH3VZUO" :load-balancer :example.ymir.alpha}]

              :services {:ymir {:ami "ami-785db401"
                                   :instance-type "m3.medium"
                                   :key-name "example.ymir.alpha-demo"
                                   :instance-count 2
                                   :port ^:ref [:web-server :port]
                                   :launch-config {:template :java8
                                                   :args {:jvm-opts ["-Xmx4g"]}}}}

              :asgs [{:service :ymir
                      :release-artifact :roll.core/latest-release-artifact
                      :load-balancer :ymir}]}}
