<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ymir</title>
    <link rel="stylesheet" href="public/app.css"/>
  </head>

  <body>
    <nav>
      <div id="navigation"></div>
    </nav>

    <main>
      <section id="app">
      </section>
    </main>

    <script src="/public/ymir.js" type="text/javascript"></script>

  </body>

</html>
